.gradient-text {
    background: linear-gradient(to right, #C0C0C0, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bitwarden-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.password-display-column {
    display: flex;
    flex-direction: column;
}

.password-settings-column {
    display: flex;
    flex-direction: column;
}

.password-display-container {
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

#passwordDisplay {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 16px;
    background: #0c0c0c;
    color: #fff;
    font-size: 24px;
    text-align: center;
    backdrop-filter: blur(10px);
}

#copyButton {
    padding: 12px 24px;
    border: 1px solid #222;
    border-left: 0;
    border-radius: 0 16px 16px 0;
    background: linear-gradient(to right, #C0C0C0, #808080);
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

#copyButton:hover {
    box-shadow: 0 0 15px 5px rgba(192, 192, 192, 0.5);
}

#copyButton.copied {
    background: red;
    color: #fff;
}

#generateButton {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #222;
    border-radius: 16px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 24px;
}

#generateButton:hover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
}

.password-settings {
    display: grid;
    gap: 16px;
}

.setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;
}

.password-strength-container {
    text-align: center;
}

#strengthIndicator {
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    margin-bottom: 12px;
}

.password-history-container {
    margin-top: 48px;
}

#passwordHistory {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #222;
    border-radius: 16px;
}

#passwordHistory li {
    padding: 8px 12px;
    border-bottom: 1px solid #222;
}

#passwordHistory li:last-child {
    border-bottom: none;
}

.password-display-container.generating::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 18px;
    background: linear-gradient(to right, #C0C0C0, #FFFFFF, #000000);
    z-index: -1;
    animation: gradient-animation 2s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
