.gradient-text {
    background: linear-gradient(to right, #C0C0C0, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.password-generator-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    background: var(--card-background);
    border-radius: 16px;
    border: 1px solid #222;
}

.password-display-container {
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

#passwordDisplay {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 8px;
    background: #0c0c0c;
    color: #fff;
    font-size: 18px;
    backdrop-filter: blur(10px);
}

#reloadButton {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

#copyButton {
    padding: 12px 24px;
    border: 1px solid #222;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    background: var(--accent-color);
    color: #fff;
    cursor: pointer;
}

#generateButton {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#generateButton:hover {
    background: rgba(0, 0, 0, 0.7);
}

.password-display-container.generating::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 10px;
    background: linear-gradient(to right, #C0C0C0, #FFFFFF, #000000);
    z-index: -1;
    animation: gradient-animation 2s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.password-settings {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
}

.setting {
    display: flex;
    align-items: center;
    gap: 12px;
}

.password-strength-container {
    text-align: center;
}

#strengthIndicator {
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    margin-bottom: 12px;
}
