.gradient-text {
    background: linear-gradient(to right, #C0C0C0, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bitwarden-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.password-display-column {
    display: flex;
    flex-direction: column;
}

.password-settings-column {
    display: flex;
    flex-direction: column;
}

.password-display-container {
    display: flex;
    margin-bottom: 24px;
    position: relative;
}

#passwordDisplay {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 8px;
    background: #0c0c0c;
    color: #fff;
    font-size: 24px;
    text-align: center;
    backdrop-filter: blur(10px);
}

#copyButton {
    padding: 12px 24px;
    border: 1px solid #222;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    background: var(--accent-color);
    color: #fff;
    cursor: pointer;
}

#generateButton {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 24px;
}

#generateButton:hover {
    background: rgba(0, 0, 0, 0.7);
}

.password-settings {
    display: grid;
    gap: 16px;
}

.setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;
}

.password-strength-container {
    text-align: center;
}

#strengthIndicator {
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    margin-bottom: 12px;
}

.password-history-container {
    margin-top: 48px;
}

#passwordHistory {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #222;
    border-radius: 8px;
}

#passwordHistory li {
    padding: 8px 12px;
    border-bottom: 1px solid #222;
}

#passwordHistory li:last-child {
    border-bottom: none;
}