
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(128, 0, 128, 0.7), rgba(0, 0, 0, 0)); 
  pointer-events: none; 
  z-index: 1;
}

.animated-keeper-text {
  font-size: 6em; /
  font-weight: bold;
  color: #fff;
  opacity: 0; 
  transform: translateY(50px); 
  animation: fadeInMoveUp 2s forwards; 
  letter-spacing: 0.1em; 
  text-align: center;
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
