
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(128, 0, 128, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 1;
}

.animated-keeper-text {
  font-size: 6em;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInMoveUp 2s forwards;
  letter-spacing: 0.1em;
  text-align: center;
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blurFade {
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  50% {
    filter: blur(4px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slideInHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero.loading .hero-background-video {
  animation: blurFade 1s ease-out forwards;
}

.hero.loading .hero-content > * {
  animation: fadeInMoveUp 1s ease-out 1s forwards;
}

.header-container.loading {
  animation: slideInHeader 1s ease-out 1.5s forwards;
}
