
:root {
    --amoled-black: #000000;
    --pure-white: #ffffff;
    --accent-color: #8A2BE2; 
    --light-gray: #86868b;
    --card-background: #121212; 
}

body {
    background-color: var(--amoled-black);
    color: var(--pure-white);
    margin: 0;
    padding: 0;
}


.boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--amoled-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.boot-screen.fade-out {
    opacity: 0;
}

.boot-logo {
    max-width: 576px;
    max-height: 576px;
}

.main-content {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in;
}

.main-content.visible {
    opacity: 1;
    display: block;
}

.downloads .btn.dl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;
  }

  .downloads .btn.dl .logo {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  .downloads .btn.dl:hover {
    background-color: #2a2a2a;
  }

@media (max-width: 767px) {
    .boot-logo {
        max-width: 80vw;
        max-height: 80vh;
    }
}
